html {
    padding-top: 8rem;
}

body {
    background-color: #f5f7fb;
    color: #354052;
}

a {
    color: #43b380;
    text-decoration: none;
}

a:hover {
    color: #43b381fd;
}

code {
    white-space: pre-line !important;
    overflow-wrap: break-word;
}

table {
    width: 100%;
}

thead {
    font-weight: 600;
}

tbody td {
    border-bottom: none;
}

tbody tr:not(:last-child) {
    border-bottom: 1px solid #e1e1e1;
}

input {
    width: 100%;
}

header {
    position: absolute;
    top: 0px;
    width: 100%;
}

nav {
    width: 100%;
}

pre {
    margin: 0rem 0rem 1.5rem 0rem;
}

.card {
    z-index: 2;
    background-color: #fff;
    padding: 1rem 2rem;
    border: 1px solid rgba(110, 117, 130, 0.2);
    border-radius: 3px;
}

.navbar {
    z-index: 1;
    position: absolute;
    overflow: hidden;
    width: 100%;
    background-color: #43b380;
}

.navbar > div > li {
    list-style-type: none;
    box-sizing: inherit;
    float: left;
    margin-bottom: 0rem;
    padding: 5px;
}

.navbar > div > li:last-child {
    float: right;
}

.navbar > div > li > a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.navbar > div > li > a.active {
    font-weight: bold;
}
.navbar > div > li > a.active {
    background-color: rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.navbar > div > li > a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 3px;
    transition: 0.3s;
}

.navbar-left {
    float: left;
}

.balance {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.alert {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    display: inline-block;
    border-radius: 3px;
}

.alert.info {
    color: #6852ac;
    background-color: #ddd7ed;
    border: 1px solid #6852ac;
}

.alert.danger {
    background-color: #f5d2d2;
    border: 1px solid #eba6a5;
    color: #290606;
}

.alert.full-width {
    width: 100%;
}

button {
    transition: 0.3s;
}

.buttons > button {
    float: left;
    margin-top: 1rem;
}

.buttons.right > button {
    margin-left: 1rem;
    float: right;
}

button.button-ghost {
    text-transform: none;
    color: #3c78d8;
    border: none;
}

button.button-ghost:hover {
    color: #2969cf;
}

.aligner {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aligner-item {
    flex: 1;
    width: 100%;
}

.aligner-item--top {
    align-self: flex-start;
}

.aligner-item--bottom {
    align-self: flex-end;
}

.aligner-item--fixed {
    flex: none;
    max-width: 50%;
}

.box {
    width: 80vw;
    margin: auto;
}

.monospace {
    font-family: monospace;
    font-size: 14px;
}

.centered {
    text-align: center;
}

@media (max-width: 750px) {
    .card {
        width: 95%;
    }
}

.hidden {
    display: none;
}

.spinner {
    user-select: none;
    text-align: center;
    color: #6852ac;
    z-index: -1;
    font-size: 180px;
}

.has-text-right {
    text-align: right;
}

/* Larger than desktop */
@media (max-width: 1000px) {
    .desktop-only {
        display: none;
    }
}

.button-ghost.active {
    background-color: #f5f5f5;
}

.title {
    margin-bottom: -1.5rem;
}

.tabs {
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
}

.tabs > li {
    display: inline-block;
    text-align: center;
    padding: 0rem 1rem;
}

.tabs > li > a {
    color: #3c78d8;
    display: block;
    width: 100%;
    padding: 0.5rem;
    border-radius: 3px;
}

.tabs > li > a.active {
    background-color: #f5f5f5;
    color: #2969cf;
}

.tabs > li > a:hover {
    color: #2969cf;
}

.has-text-info {
    color: #3c78d8;
}

a.has-text-info:hover {
    color: #2969cf;
}
