html {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
body {
    padding-top: 44px;
    height: 100%;
    background-color: #f5f7fb;
    color: #354052;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.app {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.content {
    flex: 1 0 auto;
    margin-bottom: auto;
}

.footer-container {
    padding-top: 4rem;
}

footer {
    text-align: right;
    margin-top: 2rem;
    flex-shrink: 0;
}

a {
    color: #43b380;
    text-decoration: none;
}

a:hover {
    color: #43b381fd;
}

.wrap {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}

table {
    width: 100%;
}

.tag {
    font-size: 18px;
}

thead {
    font-weight: 600;
}

tbody td {
    border-bottom: none;
}

tbody tr:not(:last-child) {
    border-bottom: 1px solid #e1e1e1;
}

.subtitle {
    margin-top: -2rem;
}

.fiat-balance {
    margin-top: -2rem;
}

input {
    width: 100%;
}

header {
    position: absolute;
    top: 0px;
    width: 100%;
}

nav {
    width: 100%;
}

pre {
    margin: 0rem 0rem 1.5rem 0rem;
}

.card {
    z-index: 2;
    background-color: #fff;
    border: 1px solid rgba(110, 117, 130, 0.2);
    border-radius: 3px;
    min-height: calc(100vh - 10rem);
    margin-top: 2rem;
    padding-top: 1.25rem;
}

.card.no-menu {
    min-height: calc(100vh - 15rem);
    margin-bottom: 2rem;
}

.navbar {
    z-index: 1;
    position: absolute;
    overflow: hidden;
    width: 100%;
    background-color: #43b380;
}

tbody:nth-child(2) {
    background-color: "#F5F5F5";
}

table {
    margin-bottom: 0px;
}

.navbar > div > li {
    list-style-type: none;
    box-sizing: inherit;
    float: left;
    margin-bottom: 0rem;
    padding: 5px 0px;
    margin-right: 1rem;
}

.navbar > div > li:last-child {
    float: right;
    margin-right: 0rem;
}

.navbar > div > li > a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.sync-status:hover {
    background-color: transparent !important;
}

.navbar > div > li > a.active {
    background-color: rgba(0, 0, 0, 0.1);
}

.navbar > div > li > a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 3px;
    transition: 0.3s;
}

.navbar-left {
    float: left;
}

.tag-group > * {
    margin-left: 1rem;
}

.balance {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.alert {
    padding: 1rem 1rem;
    display: inline-block;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.alert.fullwidth {
    width: 100%;
    padding: 1rem 0rem;
}

.clipboard-icon {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.alert.fullwidth > span {
    margin-left: 0.5rem;
}

.alert.info {
    color: #6852ac;
    background-color: #ddd7ed;
    border: 1px solid #6852ac;
}

.alert.danger {
    background-color: #f5d2d2;
    border: 1px solid #eba6a5;
    color: #831414;
}

.alert.warning {
    background-color: #fce8d2;
    border: 1px solid #f6b26b;
    color: #6f4703;
}

.alert.full-width {
    width: 100%;
}

button {
    transition: 0.3s;
}

footer li {
    list-style: none;
    margin: 0px;
}

.buttons > button {
    float: left;
    margin-top: 1rem;
}

.buttons.right > button {
    margin-left: 1rem;
    float: right;
}

button.button-ghost {
    text-transform: none;
    color: #3c78d8;
    border: none;
    padding: 0px;
    margin: 0px;
}

button[disabled],
button.disabled {
    opacity: 0.8;
}

button.button-ghost:hover {
    color: #2969cf;
}

.aligner {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aligner-item {
    flex: 1;
    width: 100%;
}

.aligner-item--top {
    align-self: flex-start;
}

.aligner-item--bottom {
    align-self: flex-end;
}

.aligner-item--fixed {
    flex: none;
    max-width: 50%;
}

.box {
    margin: auto;
}

.monospace {
    font-family: monospace;
    font-size: 14px;
}

.centered {
    text-align: center;
}

.pinched {
    width: 95%;
    margin: auto;
}

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    margin: 1rem;
    margin-left: 0.25rem;
}

@media (max-width: 750px) {
    .not-mobile {
        display: none !important;
    }
}

@media (min-width: 751px) {
    .mobile-only {
        display: none !important;
    }
}

@media (max-width: 750px) {
    .nav-container {
        margin-left: 2.5%;
    }
    .card {
        margin-top: 0rem;
        width: 100vw;
        padding: 1.5rem 0rem;
        min-height: calc(100vh - 44px);
    }
    .card.no-menu {
        min-height: 100vh;
        margin-top: -44px;
    }

    .container {
        width: 100%;
    }
}

.right-tags {
    float: right;
    margin-top: 0.5rem;
    margin-right: 2rem;
}

.right-tags > p {
    margin-left: 1rem;
}

.right-tags:last-child {
    margin-right: 1rem;
}

.right-buttons {
    margin-right: 0.5rem;
}

th:first-child,
td:first-child {
    padding-left: 2.5%;
}

th:last-child,
td:last-child {
    padding-right: 2.5%;
}

.hidden {
    display: none;
}

.no-select {
    user-select: none;
}

.spinner {
    user-select: none;
    text-align: center;
    color: #6852ac;
    z-index: -1;
    font-size: 180px;
}

.has-text-bold {
    font-weight: 400;
}

.has-text-light {
    font-weight: 200;
}

.has-text-right {
    text-align: right;
}

/* Larger than desktop */
@media (max-width: 1000px) {
    .desktop-only {
        display: none;
    }
}

.button-ghost.active {
    background-color: #f5f5f5;
}

.title {
    margin-bottom: -1.5rem;
}

.tabs {
    list-style: none;
    width: 100%;
    display: block;
    margin-bottom: 1rem;
}

.tabs > h4 {
    margin-bottom: 3rem;
}

.tabs > li {
    border-bottom: 1px solid #e1e1e1;
    position: relative;
    display: block;
    text-align: left;
    padding: 24px 2.5%;
    margin: 0rem 0rem;
}

.tabs > li:last-of-type {
    border-bottom: none;
}

.tabs > .heading {
    background-color: #f5f5f5;
    padding: 12px 2.5%;
    font-weight: bold;
}

.cursor {
    cursor: pointer;
}

.tabs > li > a {
    color: #3c78d8;
    display: block;
    width: 100%;
    border-radius: 3px;
}

.tabs > li > a.active {
    background-color: #f5f5f5;
    color: #2969cf;
}

.tabs > li > a:hover {
    color: #2969cf;
}

.has-text-info {
    color: #3c78d8;
}

a.has-text-info:hover {
    color: #2969cf;
}

.black-link {
    color: #333333;
}

.black-link:hover {
    color: #555555;
}

ul {
    list-style-type: none;
}
