html {
    padding-top: 8rem;
}

body {
    background-color: #f5f7fb;
    color: #354052;
}

a {
    color: #43b380;
    text-decoration: none;
}

a:hover {
    color: #43b381fd;
}

code {
    white-space: pre-line !important;
    overflow-wrap: break-word;
}

table {
    width: 100%;
}

thead {
    font-weight: 600;
}

tbody td {
    border-bottom: none;
}

tbody tr:not(:last-child) {
    border-bottom: 1px solid #e1e1e1;
}

input {
    width: 100%;
}

header {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 60px;
}

nav {
    width: 100%;
}

pre {
    margin: 0rem 0rem 1.5rem 0rem;
}

.card {
    background-color: #fff;
    padding: 1rem 2rem;
    border: 1px solid rgba(110, 117, 130, 0.2);
    border-radius: 3px;
}

.navbar {
    position: absolute;
    overflow: hidden;
    width: 100%;
    background-color: #43b380;
}

.navbar > div > li {
    list-style-type: none;
    box-sizing: inherit;
    float: left;
    margin-bottom: 0rem;
    padding: 5px;
}

.navbar > div > li:last-child {
    float: right;
}

.navbar > div > li > a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.navbar > div > li > a.active {
    font-weight: bold;
}
.navbar > div > li > a.active {
    background-color: rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.navbar > div > li > a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius: 3px;
    transition: 0.3s;
}

.navbar-left {
    float: left;
}

.balance {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.alert--info {
    padding: 0.5rem 1rem;
    color: #6852ac;
    background-color: #ddd7ed;
    display: inline-block;
    border: 1px solid #6852ac;
    border-radius: 3px;
}

button {
    transition: 0.3s;
}

.buttons > button {
    float: left;
    margin-top: 1rem;
}

.buttons.right > button {
    margin-left: 1rem;
    float: right;
}

button.button-ghost {
    text-transform: none;
    padding: 0rem;
    color: #3c78d8;
    border: none;
}

button.button-ghost:hover {
    color: #2969cf;
}

.aligner {
    display: flex;
    align-items: center;
    min-height: 24em;
    justify-content: center;
}

.aligner-item {
    flex: 1;
    width: 100%;
}

.aligner-item--top {
    align-self: flex-start;
}

.aligner-item--bottom {
    align-self: flex-end;
}

.aligner-item--fixed {
    flex: none;
    max-width: 50%;
}

.box {
    width: 80vw;
    margin: auto;
}

.monospace {
    font-family: monospace;
}

.centered {
    text-align: center;
}

@media (max-width: 750px) {
    .card {
        width: 95%;
    }
}
